*{margin: 0; font-family: 'Open Sans', Helvetica, Arial, sans-serif; scroll-behavior: smooth}
::placeholder{
    color: #004080;
}
#massagem {
    display: none;
}

#container {
    width: 480px;
    background-color: #004080;
    /* overflow:  */
}

#modoContato {
    display: none;
}

body {
    background-color: #004080;
    color: white;
}
#container {
    width: 480px;
    height: 110vh;
}

body header {
    height: 75px;
    background-color: #004080;
}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #004080;
    background-image: url(../imgs/banner.png);
    /* background-position-y: 11px; */
    background-size: 480px;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: auto; */
    width: 480px;
    height: 309px;
    margin-bottom: -10px;
}

#bannerJulho {
    width: 480px;
}

#logoJulho {
    width: 200px;
    margin-bottom: 75px;
}

h1 {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

#content #conversar {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    width: 480px;
    height: 18vh;
    /* text-align: center; */
    /* background-color: #000; */
}
#content #contato {
    height: 40vh;
    background-color: #003f7e;
    padding: 40px 0px 10px 0px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
}

#content #contato .message {
    width: 410px;
    height: 200px;
    resize: none;
    border: none;
    border-radius: 2em;
    padding: 15px 2px 0px 20px;
}


#content #contato input {
    border: none;
    padding: 2px 0px 2px 5px;
}

#content #contato #button {
    background-color: #004488;
    border: none;
    color: white;
    padding: 20px;
    float: right;
    margin-bottom: 40px;
}

#content #contato #button:hover {
    background-color: #fff;
    color: #004080;
}

#content #contato input {
    font-size: 13px;
    border-radius: 2em;
    padding: 2px 2px 2px 20px;
}

#content #conversar p {
    margin-left: -185px;
    font-size: 13px;
    text-align: center;
    width: 360px;
}

#content #imgTxt {
    /* background-color: white; */
    width: 480px;
    height: 302px;

}

#content #imgTxt #quemSouEu #julho {
    float: left;
    margin-left: 50px;
    width: 178px;
    height: 30px;
    background-image: url(../imgs/julho.png);
    background-repeat: no-repeat;
    background-size: 260%;
    background-position: center;
}

#content #imgTxt #quemSouEu #textu {
    /* font-family: Arial; */
    float: initial;
    margin-right: 50px;
    text-align: justify;
    font-size: 13px;
    width: 178px;
    height: 302px;
}

/* pagInicial */

#paginaInicial #whoAmI {
    width: 360px;
    /* background-color: #999; */
    margin: 25px 50px 0px 50px;
}

#paginaInicial #whoAmI #julhoImg {
    width: 178px;
    height: 360px;
    /* margin-right: 35px; */
    background-color: white;
    background-image: url("../imgs/julho.png");
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: center;
    float: left;
}
#paginaInicial #whoAmI p {
    margin-top: -3px;
    width: 178px;
}
#paginaInicial #whoAmI #texto {
    width: 178px;
    /* background-color: #dddf; */
    text-align: justify;
    height: 302px;
    /* background-color: white; */
    float: right;
}

#paginaInicial #myJob #wai {

    margin: 425px 0px 0px 0px;

}